---
import { Image } from "astro:assets";

const { title, subtitle, bgImage, Button } = Astro.props;
---

<div
  class="font-body pt-16 pb-20 mb-16 lg:mt-16 lg:rounded-[90px] rounded-[30px] w-full relative overflow-hidden"
>
  <Image
    src={bgImage}
    alt=""
    loading="lazy"
    class="w-full h-full absolute top-0 left-0 right-0 bottom-0 object-cover"
    width={1200}
    height={900}
  />
  <svg
    width="1128"
    height="683"
    viewBox="0 0 1128 683"
    class="absolute left-0 top-0 blur-[127.5px] rounded-[1101px] w-full lg:w-fit"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_f_1_606)">
      <circle cx="322.5" cy="371.5" r="550.5" fill="white" fill-opacity="0.76"
      ></circle>
    </g>
    <defs>
      <filter
        id="filter0_f_1_606"
        x="-483"
        y="-434"
        width="1611"
        height="1611"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="127.5"
          result="effect1_foregroundBlur_1_606"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div class="custom-container relative z-[20]">
    <div class="lg:mx-16">
      <h1
        class="lg:text-6xl md:text-5xl text-4xl lg:leading-[90px] text-start text-black lg:w-[60%] font-semibold"
        set:html={title}
      />
      <p class="mt-6 mb-8 text-lg text-start lg:w-[45%]">{subtitle}</p>
      <a
        href={Button.link}
        class="rounded-2xl text-base cursor-pointer bg-green px-8 gap-4 py-3 font-bold text-white flex justify-center items-center w-fit"
      >
        {Button.label}
      </a>
    </div>
  </div>
</div>
