---
interface ProjectCard {
  title: string;
  link: string;
  image: string;
}

interface Category {
  title: string;
  cards: ProjectCard[];
}

interface Props {
  categories: Category[];
}

const { categories } = Astro.props;
---

<div class="custom-container mx-auto lg:px-12 py-12">
  {categories.map((category) => (
    <div class="mb-12">
      <h2 class="text-3xl font-bold text-gray-900 mb-6">{category.title}</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {category.cards.map((card) => (
          <a href={`/projects/${card.link}`} class="group">
            <div class="bg-[#F9F9F9] border border-[#E3E3E3] rounded-[30px] overflow-hidden transition-transform duration-300 ease-in-out transform hover:-translate-y-1">
              <img src={card.image} alt={card.title} class="w-full h-48 object-cover" />
              <div class="p-4">
                <h3 class="text-lg font-semibold text-gray-900 group-hover:text-primary transition-colors duration-300 text-center">{card.title}</h3>
              </div>
            </div>
          </a>
        ))}
      </div>
    </div>
  ))}
</div>