---
const {
  index,
  title,
  heading,
  description,
  Button,
  pretitle,
  image,
  subtitle,
  steps,
} = Astro.props;
---

<div class="custom-container">
  {
    heading && pretitle && (
      <>
        <p class="text-helper  text-center">{pretitle}</p>
        <h2 class="lg:text-6xl md:text-5xl text-4xl font-medium font-body text-center mt-3">
          {heading}
        </h2>
      </>
    )
  }

  <div
    class={`${index % 2 == 0 ? "lg:flex-row flex-col-reverse" : "lg:flex-row-reverse flex-col-reverse"} gap-16 flex justify-between ${heading && "lg:mt-[103px] mt-14"} lg:px-12 items-center`}
  >
    <div class="lg:w-1/2 w-full relative">
      <div
        class="size-full internal-shadow absolute top-0 bottom-0 left-0 right-0 rounded-[45px] z-40"
      >
      </div>
      <img src={image} alt="" class="w-full rounded-[45px] z-0" />
    </div>
    <div class="lg:w-1/2 w-full">
      <h3
        class="lg:text-4xl md:text-3xl font-body text-2xl font-medium md:mb-6 mb-3"
      >
        {steps && <span class="text-secondary mr-3">0{index}</span>}{title}
      </h3>
      {
        subtitle && (
          <h4 class="text-lg  font-medium md:mb-6 mb-3 leading-[29px]">
            {subtitle}
          </h4>
        )
      }

      <p class="text-lg opacity-80 font-normal md:mb-12 mb-3 leading-[29px]">
        {description}
      </p>
      {
        Button && (
          <a
            href={Button.url}
            class="rounded-full px-6 gap-4 py-3 border border-black flex justify-center items-center w-fit"
          >
            {Button.label}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26"
              height="27"
              viewBox="0 0 26 27"
              fill="none"
            >
              <g clip-path="url(#clip0_1_113)">
                <path
                  d="M25.4522 12.0389L20.3525 6.93921L19.5881 7.70358L24.5808 12.6963H0V13.7774H24.5786L19.587 18.769L20.3514 19.5334L25.4522 14.4326C26.1117 13.7731 26.1117 12.6984 25.4522 12.0389Z"
                  fill="black"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_113">
                  <rect
                    width="25.9474"
                    height="25.9474"
                    fill="white"
                    transform="translate(0 0.263184)"
                  />
                </clipPath>
              </defs>
            </svg>
          </a>
        )
      }
    </div>
  </div>
</div>
