---
import Banner from "./Banner.astro";
interface card {
    cardIcon: string;
    cardText: string;
    cardDescription: string;
}

interface WhatWeOfferProps {
    pretitle: string;
    heading: string;
    banner: any;
    bgImage: string;
    featureCards: card[];
}
// @ts-ignore
const { pretitle, heading, featureCards, banner, bgImage }: WhatWeOfferProps =
    Astro.props; // Access data prop directly
---

<div
    class="lg:py-[85px] font-body py-12 rounded-[30px] lg:my-16 my-8 lg:mx-12 mx-6 relative bg-cover bg-center overflow-hidden"
    style={`background-image: url(${bgImage});background-size:cover;background-position:center;`}
>
    <div class="h-full w-full bg-purple/85 absolute top-0"></div>
    <div
        class="relative z-50 custom-container flex flex-col h-full justify-center items-center"
    >
        <p class="text-secondary text-center text-lg mb-5">{pretitle}</p>
        <h2
            class="lg:text-6xl md:text-5xl text-4xl xl:w-[60%] lg:leading-[70px] mx-auto font-medium text-center text-white"
        >
            {heading}
        </h2>
        {
            featureCards.length > 0 && (
                <div class="">
                    <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 lg:mt-28 mt-16">
                        {featureCards.map((item: card) => (
                            <div>
                                <img
                                    src={item.cardIcon}
                                    alt={"Image Description"}
                                    class="w-16 bg-white rounded-xl p-4 h-16"
                                />
                                <h6 class="my-6 font-medium text-white text-base">
                                    {item.cardText}
                                </h6>
                                <p class="text-white opacity-90">
                                    {item.cardDescription}
                                </p>
                            </div>
                        ))}
                    </div>
                </div>
            )
        }
        {
            banner.title && (
                <div class="lg:mt-24 mt-16 w-full">
                    <Banner
                        bgColor="bg-black bg-opacity-25"
                        title={banner.title}
                        buttonText={banner.text}
                        buttonSlug={banner.slug}
                    />
                </div>
            )
        }
    </div>
</div>
